<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          sans: ['Graphik', 'sans-serif'],
          serif: ['Merriweather', 'serif'],
        },
        extend: {
          colors: {
            lotus: '#74343E',
            cadillac: '#B35361',
            pineglade:'#b8cf85',
            graybase: '#A7A5A5',
            bluegray:'#528B83',
            tangerine:'#EC7504',
            givry:'#F8DBBF',
            olivine:'#96C07D'
          }
        }
      }
    }
  </script>
</head>

<body class="bg-gray-100 font-snas dark:bg-givry">
  <nav class="bg-olivine dark:bg-cadillac text-black dark:text-white">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="{{ url_for('home') }}" class="text-xl hover:text-black dark:hover:text-white hover:underline decoration-pineglade decoration-2 rounded-md p-2 dark:decoration-lotus">
        Home
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:bg-pineglade focus:outline-none focus:ring-2 focus:ring-pinegladee dark:text-white dark:hover:bg-lotus dark:focus:ring-lotus" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="#F5EFE7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-2 mt-4 border border-pineglade rounded-lg bg-pineglade md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-lotus md:lotus dark:border-lotus">
          <li>
            <a href="{{ url_for('upload') }}" class="block py-2 px-3 text-black rounded hover:underline decoration-olivine decoration-2 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 dark:text-white md:dark:hover:text-white dark:bg-lotus dark:hover:bg-transparent dark:hover:decoration-cadillac">Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const button = document.querySelector('[data-collapse-toggle="navbar-default"]');
    const menu = document.getElementById('navbar-default');
  
    button.addEventListener('click', function() {
      menu.classList.toggle('hidden');
    });
  });
  </script>
  <section class="m-6">
    <div class="flex justify-center m-6">
      <img class="" src="{{ url_for('static', filename='images/logo.webp') }}"></img>
    </div>
    
    {% block body %}{% endblock %}
  </section>
  


</body>

</html>