{% extends 'base.html' %}
<h1>{% block title %}Dettagli{% endblock %}</h1>
{% block body %}
  <section class="mt-3">
  <div  class="p-6 grid gap-4 grid-cols-2">
    <div class="m-3">
        <h1 class="text-3xl font-bold underline text-center text-red1">
            Hello world 1!
        </h1>
        <p class="font-sans text-blue1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam itaque ea aliquid dolorem reiciendis, at nulla nihil earum recusandae aperiam quis accusantium adipisci in eum eligendi debitis vero maiores labore.</p>
    </div>
    <div class="m-3">
        <h1 class="text-3xl font-bold underline text-center text-red1">
            Hello world 2!
        </h1>
        <p class="font-sans text-blue1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam itaque ea aliquid dolorem reiciendis, at nulla nihil earum recusandae aperiam quis accusantium adipisci in eum eligendi debitis vero maiores labore.</p>
    </div>
    <div class="m-3">
        <h1 class="text-3xl font-bold underline text-center text-red1">
            Hello world 3!
        </h1>
        <p class="font-sans text-blue1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam itaque ea aliquid dolorem reiciendis, at nulla nihil earum recusandae aperiam quis accusantium adipisci in eum eligendi debitis vero maiores labore.</p>
    </div>
    <div class="m-3">
        <h1 class="text-3xl font-bold underline text-center text-red1">
            Hello world 4!
        </h1>
        <p class="font-sans text-blue1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam itaque ea aliquid dolorem reiciendis, at nulla nihil earum recusandae aperiam quis accusantium adipisci in eum eligendi debitis vero maiores labore.</p>
    </div>
</div>

  {% if name %} <!--se name ha un valore-->
  <h1 class="flex justify-center pt-6 text-3xl font-bold underline decoration-sky-500">Hello {{ name }}!</h1> <!--Hello e stampo il nome-->
  {% else %} <!--altrimenti-->
  <h1 class="text-3xl pt-6 font-bold underline">Hello, World!</h1>
  {% endif %}
  </section>
{% endblock %}
