{% extends 'base.html' %}
<h1>{% block title %}Risultati{% endblock %}</h1>
{% block body %}
<section>
    {% if form.errors %}
    <ul class="text-blazeorange">
        {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <li>{{ form[field].label.text }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% else %}
    <table class="container mx-auto">
        <tr>
            <th class="text-resolutionblue text-left text-xl">Field</th>
            <th class="text-left text-xl">Value</th>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Username</td>
            <td class="text-left">{{ form.username.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">About</td>
            <td class="text-left">{{ form.about.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">First Name</td>
            <td class="text-left">{{ form.first_name.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Last Name</td>
            <td class="text-left">{{ form.last_name.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Email</td>
            <td class="text-left">{{ form.email.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Address</td>
            <td class="text-left">{{ form.address.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Region</td>
            <td class="text-left">{{ form.region.data }}</td>
        </tr>
        <tr>
            <td class="text-resolutionblue text-left">Postal Code</td>
            <td class="text-left">{{ form.postal_code.data }}</td>
        </tr>
    </table>
    <div class="mt-6 flex items-center justify-end gap-x-6">
        <a href="{{url_for('upload')}}"
            class="btn btn-secondary rounded-md bg-blazeorange px-3 py-2 text-base font-semibold text-white shadow-sm hover:bg-atomictangerine focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blazeorange">Back</a>
    </div>
    {% endif %}
</section>
{% endblock %}