{% extends 'base.html' %}
<h1>{% block title %}Form{% endblock %}</h1>
{% block body %}
<h1 class="display flex justify-center font-semibold text-cloudburst text-5xl">Form</h1>
<form class="mt-3" method="POST" action="{{ url_for('upload')}}">

    {{ form.csrf_token }}
    {{form.hidden_tag()}}
    <div class="p-1.5">
        <ul>
            <li>{{ form.operation.label(class="block text-gray-900 text-3xl mb-3") }}</li>
        </ul>
        {{ form.operation(class="block rounded-md border-0 p-1.5  text-gray-900 text-2xl shadow-sm ring-1 ring-inset ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst sm:text-sm sm:leading-6") }}
        {% if form.operation.data == 'best_option' %}
        <div>
            <img src="{{ url_for('static', filename=bestoption_image) }}" alt="Immagine Opzione Migliore">
        </div>
    {% endif %}
        {% for error in form.operation.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <br>
    <div class="p-1.5">
        {{ form.payment.label(class="block text-gray-900 text-3xl mb-2") }}
        {{ form.payment(class="block rounded-md border-0 p-1.5 text-gray-900 text-2xl shadow-sm ring-1 ring-inset ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst sm:text-sm sm:leading-6") }}
        {% for error in form.payment.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <br>
    <div class="p-1.5">
        {{ form.billing_info.label(class="block text-gray-900 text-3xl mb-2") }}
        {{ form.billing_info(class="block rounded-md border-0 p-1.5 text-gray-900 text-2xl shadow-sm ring-1 ring-inset ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst sm:text-sm sm:leading-6") }}
        {% for error in form.billing_info.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <br>
    <div class="p-1.5">
        {{ form.quantity.label(class="block text-gray-900 text-3xl mb-2") }}
        {{ form.quantity(class="block rounded-md border-0 p-1.5 text-gray-900 text-2xl shadow-sm ring-1 ring-inset ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst sm:text-sm sm:leading-6") }}
        {% for error in form.quantity.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>


        <br>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="submit"
                class="rounded-md bg-cloudburst px-3 py-2 text-3xl font-semibold text-white shadow-sm hover:bg-bluegray focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cloudburst"
                value="Submit">Submit</button>
        </div>
</form>

<!--
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
-->
{% endblock %}