{% extends 'base.html' %}
<h1>{% block title %}Form{% endblock %}</h1>
{% block body %}
<h1 class="display flex justify-center font-semibold text-cloudburst text-5xl">Form</h1>
<div class="flex items-center">
    <p> Approfitta delle scelte smart! Indicate con</p>
    <img src="{{ url_for('static', filename='images/best_option.svg') }}" class="ml-2 w-6 h-6" alt="Best Option">
</div>

<form class="m-3" method="POST" action="{{ url_for('upload')}}">
    {{ form.csrf_token }}
    {{form.hidden_tag()}}
    <div class="p-1.5">
        <ul>
            <li>{{ form.operation.label(class="block text-gray-900 text-3xl mb-2") }}</li>
            <li>
                {% for subfield in form.operation %}
                <div class="flex items-center">
                    {{ subfield(class="text-2xl shadow-sm ring-1 ring-inset sm:leading-6") }}
                    <label for="{{ subfield.id }}" class="ml-2">{{ subfield.label.text }}</label>
                    
                    <div class="text-gray-700 ml-1">
                        {{ form.category_descriptions[subfield.data] }}
                    </div>
                    {% if subfield.data == 'best_option0' or subfield.data == 'best_option1' or subfield.data == 'best_option2'%}
                        <img src="{{ url_for('static', filename='images/best_option.svg') }}" class="ml-2 w-6 h-6"
                        alt="Best Option">
                    {% endif %}
                </div>
                
                {% endfor %}
            </li>
            {% for error in form.operation.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </ul>
<!--
        {% if selected_operation == 'opt1' %}
        <div id="standard-options" class="p-1.5 ml-4">
            {{ form.standard_option.label(class="block text-xl mb-2") }}
            {{ form.standard_option(class="block sm:leading-6") }}
        </div>
        {% elif selected_operation == 'best_option' %}
        <div id="best-option-options" class="p-1.5 ml-4">
            {{ form.best_option_option.label(class="block text-xl mb-2") }}
            {{ form.best_option_option(class="block sm:leading-6") }}
        </div>
    </div>
    {% endif %}-->
    <br>
    <div class="p-1.5">
        <ul>
            <li>{{ form.payment.label(class="block text-gray-900 text-3xl mb-2") }}</li>
            <li>
                {% for subfield in form.payment %}
                <div class="flex items-center">
                    {{ subfield(class="rounded-md border-0 p-1.5 text-gray-900 text-2xl shadow-sm ring-1 ring-inset
                    ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst
                    sm:leading-6") }}
                    <label for="{{ subfield.id }}" class="ml-2">{{ subfield.label.text }}</label>
                    <div class="text-gray-700 ml-1">
                        {{ form.category_descriptions[subfield.data] }}
                    </div>
                    {% if subfield.data == 'best_option0' or subfield.data == 'best_option1' or subfield.data == 'best_option2'%}
                        <img src="{{ url_for('static', filename='images/best_option.svg') }}" class="ml-2 w-6 h-6"
                        alt="Best Option">
                    {% endif %}
                </div>
                {% endfor %}
            </li>
            {% for error in form.payment.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </ul>



    </div>
    <br>
    <div class="p-1.5">
        <ul>
            <li>{{ form.billing_info.label(class="block text-gray-900 text-3xl mb-2") }}</li>
            <li>
                {% for subfield in form.billing_info %}
                <div class="flex items-center">
                    {{ subfield(class="rounded-md border-0 p-1.5 text-gray-900 text-2xl shadow-sm ring-1 ring-inset
                    ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst
                    sm:leading-6")}}
                    <label for="{{subfield.id}}" class="ml-2">{{ subfield.label.text }}</label>
                    <div class="text-gray-700 ml-1">
                        {{ form.category_descriptions[subfield.data] }}
                    </div>
                    {% if subfield.data == 'best_option0' or subfield.data == 'best_option1' or subfield.data == 'best_option2'%}
                        <img src="{{ url_for('static', filename='images/best_option.svg') }}" class="ml-2 w-6 h-6"
                        alt="Best Option">
                    {% endif %}
                </div>
                {% endfor %}
            </li>
            {% for error in form.payment.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </ul>

    </div>
    <br>
    <div class="p-1.5">
        {{ form.quantity.label(class="block text-gray-900 text-3xl mb-2") }}
        {{ form.quantity(class="block rounded-md border-0 p-1.5 text-gray-900 text-xl shadow-sm ring-1 ring-inset
        ring-bluegray placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cloudburst sm:leading-6") }}
        {% for error in form.quantity.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>


    <br>
    <div class="mt-6 flex items-center justify-center">
        <button type="submit"
            class="rounded-md bg-cloudburst px-3 py-2 text-3xl font-semibold text-white shadow-sm hover:bg-bluegray focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cloudburst"
            value="Submit">Submit</button>
    </div>
</form>

<!--
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
-->


{% endblock %}